@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Issue Indexer</h1>
    <p>In all projects, from software development, to the production line, Issue Indexer is there for you.</p>
    <p></p>
    <p>Issue Indexer can help you keep track of various issues across various projects.</p>
</div>
